{
  "presets": ["@babel/preset-react"],
  "plugins": [
    "@babel/plugin-transform-runtime",
    [
      "module-resolver",
      {
        "root": "./",
        "alias": {
          "@": "./src",
          "static": "./static",
          "vue": "vue/dist/vue.common"
        }
      }
    ]
  ]
}