#splash {
  position: fixed;
  left: 0;
  top: -20px;
  right: 0;
  bottom: 0;
  background: #fff;
  z-index: 99999;
  display: none;
  pointer-events: none;
}

#splash::before {
  content: '';
  width: 100%;
  height: 100%;
  display: block;
  background-size: cover;
  background-position: 50% 50%;
}

#splash.shrink::before {
  transition: .5s;
  transform: scale(0.8);
}

#splash.hidden::before {
  transition: .5s;
  transform: scale(10);
}

#splash.hidden {
  transition: .5s;
  opacity: 0;
}

@media screen and (device-width: 768px) and (device-height: 1024px) and (-webkit-device-pixel-ratio: 2) and (orientation: portrait) {
  #splash {
    display: block;
  }
  #splash::before {
    background-image: url(images/splash-1536-2008.png);
  }
}

@media screen and (device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3) and (orientation: portrait) {
  #splash {
    display: block;
  }
  #splash::before {
    background-image: url(images/splash-1242-2208.png);
  }
}

@media screen and (device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2) {
  #splash {
    display: block;
  }
  #splash::before {
    background-image: url(images/splash-750-1334.png);
  }
}

@media screen and (device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2) {
  #splash {
    display: block;
  }
  #splash::before {
    background-image: url(images/splash-640-1136.png);
  }
}
